@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 59, 7, 100;
  --background-start-rgb: 245, 243, 255;
  --background-end-rgb: 233, 213, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 245, 255;
    --background-start-rgb: 59, 7, 100;
    --background-end-rgb: 107, 33, 168;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2rem;
}

h2{
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}

div::-webkit-scrollbar {
  -webkit-appearance: none;
}

div::-webkit-scrollbar:vertical {
  width: 10px;
}

div::-webkit-scrollbar-button:increment,
div::-webkit-scrollbar-button {
  display: none;
}

div::-webkit-scrollbar:horizontal {
  height: 10px;
}

div::-webkit-scrollbar-thumb {
  background-color: #502382;
  border-radius: 20px;
  border: 2px solid #f1f2f377;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
}